FasTeamLogic/FasTeamLogicBusiness/Connected Services/FasdsService/FasdsService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FasdsTeamSoap.DAO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FasdsTeamSoap.DAO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUserDao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserDao" nillable="true" type="tns:UserDao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserDao" nillable="true" type="tns:ArrayOfUserDao" />
  <xs:complexType name="UserDao">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationId" type="xs:int" />
      <xs:element minOccurs="0" name="RoleId" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDao" nillable="true" type="tns:UserDao" />
</xs:schema>